@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
   scroll-behavior: smooth;
}

.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card-of-day:hover {
   picture {
      transform: scale(1.05);
      transition: all 0.2s ease-in-out;
   }
}

.small-banner-item__title {
   display: flex;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 5px 0 0;
   font-size: 0.75rem;
   color: #717171;
}

.icon-base-100 polyline {
   stroke: var(--color-background);
}

.icon-primary polyline {
   stroke: var(--color-primary);
}

.icon-secondary polyline {
   stroke: var(--color-secondary);
}

.btn-primary {
   background-color: var(--color-primary);
   color: var(--color-background);
   border-color: var(--color-primary); /* Manter a mesma cor de borda */
}

.btn-primary:hover {
   background-color: var(--color-primary); /* Manter a mesma cor de fundo */
   color: var(--color-background); /* Manter a mesma cor de texto */
   border-color: var(--color-primary); /* Manter a mesma cor de borda */
   opacity: 0.9;
}

@layer components {
   .btn-shadow {
      box-shadow: 0 0 10px 1px rgba(var(--color-background-rgb), 0.5);
   }

   .btn-base-100 {
      @apply bg-base-100 btn-shadow hover:bg-base-100 hover:opacity-90 text-white font-bold py-2 px-4;
   }
}

.header-container {
   padding-top: 100px;
   position: relative;
   z-index: 1;
   top: 0;
   height: 250px;

   @media (max-width: 768px) {
      padding-top: 80px;
   }
}

.header-container header {
   position: relative;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   width: 100%;

   @media (max-width: 768px) {
      position: fixed;
   }
}

.content-container {
   position: relative;
   z-index: 2;
   margin-top: 140px;
}
